.footer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(65, 61, 61);
  color: white;
  padding: 25px 0px;
}
.footer-container img{
  border-radius: 50%;
}

@media only screen and (max-width:500px){
  .footer-container{
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(65, 61, 61);
  color: white;
  padding: 25px 0px;
  margin-bottom: 100px;
}
}